[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "Assert"]
	path = Assert
	url = https://github.com/gpakosz/Assert.git
[submodule "cereal"]
	path = cereal
	url = https://github.com/USCiLab/cereal.git
